$primary:    #673AB7;
$primary-dark: #512DA8;
$primary-light: #9575CD;
$primary-pale: #D1C4E9;

.signup-card {

    margin-top: 50px;
    width: 300px;  
    height:350px;
    border: 1px solid grey;
    border-radius: 12px;

  }
  
.signup-cardtitle{
    color: $primary;
  }


  .full
  {
    width: 250px;
  }