<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div>
    <mat-card class="signup-card">
      <mat-card-header>
        <mat-card-title class="signup-cardtitle">
          <h2>Sign Up</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="signup-cardcontent">
        <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="full" color="{{(formErrors.name) ? 'warn' : 'primary'}}">
              <input matInput formControlName="name" placeholder="Name" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.name)">
                  {{formErrors.name}}</span>
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full" color="{{(formErrors._id) ? 'warn' : 'primary'}}">
              <input matInput formControlName="_id" placeholder="Email" type="email" required>
              <mat-hint>
                <span [hidden]="!(formErrors._id)">
                  {{formErrors._id}}</span>
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full" color="{{(formErrors.password) ? 'warn' : 'primary'}}">
              <input matInput formControlName="password" placeholder="Password" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.password)">
                  {{formErrors.password}}</span>
              </mat-hint>
            </mat-form-field>
          </p>
          <button type="submit" mat-flat-button color="primary" [disabled]="userForm.invalid">Submit</button>
        </form>
        <div *ngIf="msg">
          <h3>You are Registered now! Go Sign-In!</h3>
        </div>
        <div *ngIf="showErr">
          <h3>This Email is already Registered!</h3>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>